<div class="container pt-5">
  <mat-card class="container bg-dark text-light">
    <mat-card-title>
      <div class="title">Project Grove</div>
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Welcome to Project Grove.</li>
        <li>Have you ever been to a family function and recognized someone there but not sure who they were or how they were related to you?</li>
        <li>You will be able to add your and your family's personal details to this page including a Photo.</li>
        <li>Add relationships such as Father, Mother, Spouse and Children for each person.</li>
        <li>Find relation between any two people who are present in this Family Tree and know some information about them.</li>
        <li>View the family tree.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
