<mat-card class="col-md-6 mx-auto mt-5">
  <mat-card-header>
    <mat-card-title> Thank you for using Project Grove </mat-card-title>
    <mat-card-subtitle class="text-light">Hope you enjoyed using it as much as I had while making it!</mat-card-subtitle>
  </mat-card-header>

  This project was made using the following
  <ul>
    <li>Angular</li>
    <li>Bootstrap</li>
    <li>Docker</li>
    <li>Traefik</li>
    <li>Nginx</li>
    <li>NodeJs</li>
    <li>Postgres</li>
    <li>MongoDB</li>
    <li>Git</li>
  </ul>
</mat-card>
