<div class="card bg-dark text-light mx-auto" style="max-width: 600px; align-content: center;">
  <div class="card-header">
    <h3 class="mb-0 text-light">Change Password</h3>
  </div>
  <form class="card-body" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div class="form-row">
      <label for="oldPassword">Current Password</label>
      <input
        [class.is-invalid]="this.changePasswordForm.get('oldPassword').invalid && this.changePasswordForm.get('oldPassword').touched"
        type="password"
        id="oldPassword"
        class="form-control bg-dark text-light"
        formControlName="oldPassword"
      />
      <small *ngIf="this.changePasswordForm.get('oldPassword').invalid && this.changePasswordForm.get('oldPassword').touched" class="text-danger">Old Password cannot be blank</small>
    </div>
    <div class="form-row">
      <label for="newPassword">New Password</label>
      <input
        [class.is-invalid]="this.changePasswordForm.get('newPassword').invalid && this.changePasswordForm.get('newPassword').touched"
        type="password"
        id="newPassword"
        class="form-control bg-dark text-light"
        formControlName="newPassword"
      />
      <small *ngIf="changePasswordForm.errors?.match" class="text-danger">New Password and Old Password should not match</small>
    </div>
    <div class="form-row">
      <label for="confirmPassword">Confirm Password</label>
      <input
        [class.is-invalid]="this.changePasswordForm.get('confirmPassword').invalid && changePasswordForm.errors?.misMatch"
        type="password"
        id="confirmPassword"
        class="form-control bg-dark text-light"
        formControlName="confirmPassword"
      />
      <small *ngIf="changePasswordForm.errors?.misMatch" class="text-danger">Password don't match</small>
    </div>
    <button [disabled]="this.changePasswordForm.invalid" class="btn btn-primary mt-2" type="submit">Change Password</button>
  </form>
</div>
